@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

/** Scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

html{
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;

}

@media (max-width: 991px) {
  .offcanvas-collapse {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


/** Hamburger */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-box:focus{
  outline: none;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner.js-hamburger {
  background-color:  #00012e;
}

.hamburger-inner.js-hamburger:before {
  background-color:  #00012e;
}

.hamburger-inner.js-hamburger::after {
  background-color:  #00012e;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 6px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}




body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 0 0 0;
  position: relative;
  /* overflow: hidden; */
}


/** Navbar */

.navbar {
  background-color: #fff;
  transition: 0.3s ease-in-out;
  padding: 0 75px;
  display: flex;
  height: 100px;
}

.navbar .content {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar.fixed {
  height: 85px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.21);
}

.nav-item {
  padding: 0 12px;
}


.nav-link {
  color: #00012e;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.nav-item.active .nav-link{
  color: #00012e;
}
.nav-link--btn {
  color: #00012e;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}


.nav-logo-center{
  width: 200px;
}
.nav-logo-center img{
  width: 100%;
  height: 100%;
}


.nav-link:hover {
  color:  #00012e !important;
}
.nav-link--btn:hover{
  color: #fff !important;
  background-color:  #00012e;
}
.btn-contact{
  background: #000531;
  border-radius: 10px;
  color: #fff!important;
}
.btn-contact:hover{
  border:1px solid #00a4e1;
 background: #fff!important;
 color: #00a4e1!important;
}
.nav-link.fixed-color {
  color: #000;
  transition: 0.3s ease-in-out;
}

.nav-link--btn.fixed-color--btn {
  color:  #00012e;
  transition: 0.3s ease-in-out;
}
.nav-link.fixed-color:hover {
  color: #000;
}

.nav-link:hover {
  color: #fff;
}

.navbar-brand {
  width: 250px;
}
.navbar-brand-fixed{
  width: 190px;
}

.navbar-brand:hover {
  color: #d9c8c0;
}

.navbar-brand img {
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}


/** Banner */
.main-banner{
  position: relative;
}
.particles{
  position: absolute;
}
.one_bluelight{
  top: 20%;
  left: 2%;
}
.two_bluelight{
  top: 40%;
  left: 30%;
  width: 20px;
}
.three_bluelight{
  bottom: 30%;
  left: 50%;
  width: 20px;
}
.four_bluelight{
  right: 10%;
  bottom: 20%;
  width: 20px;
}
.circle_dark{
  right: 0%;
  bottom: 20%;
  width: 50px;
}

.circle_blue{
  right: 40%;
  top: 23%;
  width: 100px;
}
.two_bluedark{
  right: 5%;
  top: 20%;
  width: 20px;
}
.three_bluedark{
  left: 30%;
  bottom: 20%;
}
.line{
  bottom: 0;
  left: 0;
  width: 200px;
}

.angle-down{
  bottom: 5%;
  left: 50%;
  transition: 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border: 1px solid #000531;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.angle-down i{
  font-size: 40px;
  color: #000531;
 
}

.angle-down:hover{
  text-decoration: none;
  /* background-color: #00012e; */
  transition: 0.3s ease-in-out;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(1.2);
}

.main-banner__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-banner__item{
  height: 100vh;
  display: flex;
}
.main-banner__item .container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 100px
}
.main-banner__img{
  width:500px;
}
.main-banner__img img{
  width: 100%;
}
.main-banner__link{
  margin-right: 10px;
}
.main-banner__link i{
  color:#000531;
  font-size: 30px;
}

.main-banner__text h1{
  font-weight: 900;
  color:#000531;
  font-family: 'Montserrat', sans-serif;
}

.main-banner__formimg{
  width: 100%;
}

.main-banner__formimg img{
  width: 100%;
}


.main-banner__form{
  background-image: url(assets/img/form.png);
  width: 100%;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

.main-banner__contentform{
  width: 60%;
}
.main-banner__form--title p{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],textarea,select {
  width: 100%;
  margin: 0 0px 20px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 50px;
  outline: none;
  border: none;
  background: #ffffff;
  color: #898989;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid transparent;
}

input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
  background:#fff;
  border: 2px solid #009cde !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

input[type="text"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder {
  color: #898989 !important;
}

textarea {
  border-radius: 20px;
  height: 100px;
  resize: none;
}

textarea:focus {
  background:#fff;
  border: 2px solid #009cde !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

textarea::placeholder {
  color: #898989 !important;
}

.btn_custom {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 85px;
  cursor: pointer;
}

.btn--filled {
  color: #fff;
  background-color: #009cde;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn--filled:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}
.btn-box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-general__title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}


.main-general__title.main-general__title--end{
  justify-content: flex-end;
  text-align: right;
}
.main-general__title.main-general__title--end p{
  font-weight: 700;
}
.main-general__title p {
  font-size:40px;
  font-weight: 900;
  color: #000531;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  text-transform: uppercase;
}

.main-general__title--white p{
  color: #fff;
}

.main-general__title span{
  font-weight: 900;
}

.main-general__title--lowercase  p {
  text-transform: inherit;
  line-height: .9;
}

.main-general__description p{
  margin-bottom: 0;
}

.main-general__description--white p{
  color: #fff;
}
.main-general__description.main-general__description--end p{
  text-align: right;
}

.main-general__subtitle p{
  font-size: 20px;
  width: 50%;
  font-weight: 300;
  text-transform: inherit;
}
/** Methodology */
.main-methodology__contentbox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.nav-pills .nav-link--methodolgy.active,
.nav-pills .show > .nav-link--methodolgy {
  color: #000531;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 0;
  font-size: 30px;
  font-weight: 900;
  border-bottom: 4px solid #00a4e1;
  font-family: 'Montserrat', sans-serif;
}

.nav-link--methodolgy{
  color: #000531;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 0;
  font-size: 30px;
  font-weight: 300;
  border-bottom: 4px solid transparent;
  font-family: 'Montserrat', sans-serif;
}

.main-methodology__boxitem{
  display: flex;
  justify-content: center;
}

.main-methodology__boxitem .nav-pills li{
  width: 50%;
  padding-left: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  height: 70px;
}

.main-methodology__box{
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid #00a4e1;
  padding: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-methodology__box h2{
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}
.main-methodology__box p{
  text-align: center;
}

.three_bluedark.three_bluedark--methodology{
  left: 25%;
  bottom: -10%;
}
.three_bluelight.three_bluelight--methodology{
  bottom: 5%;
  left: 40%;
}
.four_bluelight.four_bluelight--methodology{

}
.circle_dark.circle_dark--methodology{
  right: 11%;
  bottom: -11%;
  width: 310px;
  z-index: -1;
}



/** Services */

.main-services__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.main-services__item{
  width: 25%;
  padding-right: 40px;
  margin-bottom: 40px;
}

.main-services__card{
  padding: 50px 15px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 280px;
  background: #fff;
  position: relative;
}

.main-services__mask{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.main-services__card:hover .main-services__mask{
  opacity: 1;
  background-color: #000531;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
}
.main-services__card:focus{
  outline: none;
}

.main-services__maskimg{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-services__maskimg img{
  width: 100%;
}

.main-services__boximg{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}





.main-services__title p{
  font-weight: 700;
}
.main-services__title.main-services__title--white p{
  color: #fff;
}
.main-services__description p{
  text-align: center;
}
.circle_blue.circle_blue--services{
  right: 20%;
  top: 5%;
  width: 130px;
}
.circle_dark.circle_dark--services{
  z-index: -1;
  width: 35%;
  bottom: -1%;
}

.three_bluedark.three_bluedark--services{
  left: 24%;
  bottom: 7%;
}
.two_bluelight.two_bluelight--services{
  top: 70%;
  left: 15%;
}
.one_bluelight.one_bluelight--services{
  top: 45%;
}
.three_bluelight.three_bluelight--services{
  bottom: 55%;
  left: 27%;
  width: 20px;
}
.four_bluelight.four_bluelight--services{
  right: 30%;
  bottom: 40%;
  width: 13px;
}






.main-about__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.main-content__boxabout{
  position: absolute;
  top: 155px;
  left: 92px;
}
.main-about__box{
  width: 80%;
}

.main-about__img{
  width: 600px;
  margin-top: -150px;
}
.main-about__img img{
  width: 100%;
  height: 100%;
}



.three_bluedark.three_bluedark--about{
  left: 28%;
  bottom: -7%;
}

.circle_dark.circle_dark--about{
  width: 20px;
}
.circle_blue.circle_blue--about,.circle_dark.circle_dark--about{
  display: none;
}
.three_bluelight.three_bluelight--about{
  bottom: 75%;
  left: 7%;
  width: 120px;
}
.one_bluelight.one_bluelight--about{
  top: 10%;
  width: 20px;
  left: 45%;
}


.four_bluelight.four_bluelight--about{
  right: 10%;
  bottom: 10%;
  width: 20px;
}
.two_bluelight.two_bluelight--about{
  top: 50%;
  left: 50%;
}
/**/

.main-clients__card{
  box-shadow: 0px 0px 10px #00000059;
  height: 120px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.main-clients__card img{
  height: -webkit-fill-available;
  width: 100%;
  object-fit: cover;
}
.slick-initialized .slick-slide {
  display: block;
  margin: 10px;
}
.slick-track {
  padding: 12px 0 12px 0;
}

.circle_dark--clients{
  width: 280px;
  top: 120px;
}
.two_bluelight--clients{
  top: 54%;
  left: 18%;
  width: 20px;
}

.one_bluelight--clients{
  top: 56%;
  width: 15px;
  left: 54%;
}
.there_bluelight--clients{
  top: 110%;
    left: 90%;
    width: 15px;
    z-index: 1;
}
.four_bluedark--clients{
  bottom: -26%;
  left: 10%;
  width: 150px;
}

.five_bluedark--clients{
  left: 30%;
  bottom: -30%;
}
.mt-90{
  margin-top: 90px;
}

/* testimonials */
.main-testimonios{
  position: relative;
}
.one_bluelight--testimonials{
  top: 24%;
  left: 40%;
  width: 90px;
}
.six_bluedark--testimonials{
  z-index: 1;
  bottom: 10%;
}
.five_bluedark--testimonials{
    z-index: 1;
    top: 29%;
    left: 50%;
    width: 15px;

}

.one_bluelight--testimonials_plus{
  z-index: 1;
  top: 40%;
  left: -4%;
}
.two_bluelight--testimonials_plus{
  top: 47%;
    left: 24%;
    z-index: 1;
}
.main-testimonials{
  width: 100%;
  background-color: #fff;

}
.main-testimonials__content{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main-testimonials__boxcontent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.main-testimonials__box p{
  text-align: center;
  padding: 10px 100px 0px;
}

.main-testimonials__boximg{
  width: 110px;
  height: 110px;
  position: relative;
  margin-left: 10px;
}

.main-testimonials__boximg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.nav-link__testimonials.active .main-testimonials__boximg .main-mask-testimonials{
  /* display: none; */
  transition: 0.3s ease-in-out;
  border: 5px solid #00a4e1;
  border-radius: 50%;
}
.main-mask-testimonials{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 137, 32, 0.42); */
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}
.tab-content__testimonials{
 background-image: url('../img/testimonial_content.png');
 color: #000531;
 position: relative;
 background-size: contain;
 background-repeat: no-repeat;
 height: 490px;
 display: flex;
}


.main-testimonials__quates{
  width: 100px;
  height: 100px;
  border: 5px solid #00a4e1;
  border-radius: 50%;
  
}
.main-testimonials{
  position: relative;
}
.main-testimonials__float{
  position: absolute;
  left: -85px;
  height: 100%;
  top: 0;
  bottom: 0;
}

.main-testimonials__float img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-testimonials__quates img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

}

.main-tetsimonials__dates p{
  margin-bottom: 0;
  font-weight: bold;
}



.tab-content__testimonials .main-testimonials__box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

/* team */

.main-team{
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
}
.main-team__content{
  display: grid;
  grid-template-columns: 50% 50%;
}
.main-team__boxcontent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-pills li{
  width: 50%;
  padding-left: 30px;
  padding-bottom: 15px;
}
.plus{
  padding: 5px;
  text-align: center;
}

.hover_plus:hover{
  background: #000531;
  color: #fff;
  transition: 0.3s ;
}

.hover_plus p{
  display: none;
  transition: 0.3s ;
}
.hover_plus:hover  p{
  display: initial;
  color: #fff;
  font-size: 14px;
  transition: 0.3s ;
}
.hover_plus:hover  img{
  display: none;
}
.nav-link__team:hover {
  background: #000531;
  color: #fff;
  text-decoration: none;
}

.main-team__box p{
  text-align: center;
}

.main-team__boximg{
  width: 160px;
  height: 150px;
  position: relative;
}

.main-team__boximg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-link__team.active .main-team__boximg .main-mask-team{
  display: none;
  transition: 0.3s ease-in-out;
}
.main-mask-team{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 137, 32, 0.42);
  transition: 0.3s ease-in-out;
}
.tab-content__team{
  background-image: url('../img/team/team.png');
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 490px;
  display: flex;
}

.nav-link__team{
  box-shadow: 0px 0px 10px #00000059;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  font-weight: 800;
    color: #000531;

    
}
.nav-link__team span{
    font-size: 13px;
    font-weight: 500;
}

.main-team__quates{
  right: 0;
  top: 20px;
  width:100px;
  height: 100px;
}
.main-team{
  position: relative;
  margin-bottom: 60px;
}
.main-team__float{
  position: absolute;
  left: -85px;
  height: 100%;
  top: 0;
  bottom: 0;
}

.main-team__float img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-team__quates img{
  width: 100%;
  height: 100%;
}

.main-tetsimonials__dates{
  position: absolute;
  bottom: 0;
  left: -50%;
}
.main-tetsimonials__dates p{
  margin-bottom: 0;
}
.two_bluedark.two_bluedark--contact {
  right: 5%;
  top: 26%;
  width: 20px;
}
.two_bluelight.two_bluelight--contact {
  top: 35%;
  left: 17%;
  width: 20px;
}
.circle_blue.circle_blue--contact {
  right: 40%;
  top: 40%;
  width: 20px;
}

.team{
  position: relative;
}
.circle_blue--team{
  right: 84%;
  top: 100%;
  width: 100px;
}

.two_bluelight.two_bluelight--team {
  top: 35%;
  left: 70%;
  z-index: 999;
}

.three_bluelight.three_bluelight--team {
  bottom: 80%;
  left: 3%;
  width: 20px;
}
.tab-content__team .main-team__box{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  flex-direction: column;
}


.main-general__title--contacto p{
  text-transform: inherit;
  width: 80%;
  color: #fff;
  line-height: 1.2;
}

.main-general__title--contacto{
  align-items: flex-start;
}

.main-general__title--contacto .main-general__subtitle{
  margin-bottom: 20px;
}
.main-general__title--contacto .main-general__subtitle span{
  color: #009cde;
  text-transform: uppercase;
  font-size: 20px; 
}



.main-contact{
  width: 100%;
  background-size: cover;
  height: 1200px;
  margin-top: -100px;
}

.main-contact__form{
  position: absolute;
  right: 0;
  width: 70%;
}

.main-contact__content{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
}
.main-banner__contentform {
  width: 60%;
}

footer{
  position: relative;
  padding: 100px 0 0 0;
}

.one_bluelight.one_bluelight--footer {
  top: -50%;
  left: 15%;
  width: 20px;
}
.two_bluelight.two_bluelight--footer {
  top: 65%;
  left: 35%;
}

.three_bluelight.three_bluelight--footer {
  top: 65%;
  left: 90%;
}

.circle_blue.circle_blue--footer {
  left: 5%;
  top: 60%;
  width: 120px;
}

.two_bluedark.two_bluedark--footer {
  right: 5%;
  top: -40%;
  width: 20px;
}

.three_bluedark.three_bluedark--footer {
  left: 12%;
  bottom: 10%;
  width: 15px;
}

.main-footer__content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-footer__img{
  width: 300px;
}

.main-footer__img img{
  width: 100%;
}

.main-footer__ul{
  list-style: none;
  padding-left: 0;
}
.main-footer__ul li{
  margin-bottom: 10px;
}
.main-footer__ul li a{
  color: #000531;
}
.main-footer__ul li a img{
  width:20px;
}
.main-footer__ul li a:hover{
  text-decoration: none;
}

.main-footer__copy{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: 50px;
}
.main-footer__copy p a{
  color:#000531;
}
.main-footer__copy p a:hover{
  text-decoration: none;
}
.main-footer__item:not(:first-of-type){
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__redes a{
  margin-right: 15px;
}

.main-footer__redes a i{
  font-size: 30px;
  color: #000531;
}

.two_bluelight--footer_plus{
  top: -40%;
  left: 10%;
  z-index: 1;
}

.two_bluelight--footer{
  left: 40%;
  width: 20px;
}
@media (min-width: 0px) and (max-width: 767px){
  .main-banner__content{
    grid-template-columns: 1fr;
  }
  .main-banner__contentform{
    margin-top: 50px;
  }
  .four_bluelight{
    right: -65%;
    bottom: 50%;
  }
  .two_bluedark{
    top: 20%;
  }
  .three_bluelight{
    left: 30px;
  }
  .circle{
    display: none;
  }
  .main-banner__item{
    height: 93vh;
  }
}


@media (min-width: 768px) and (max-width: 991px){
  .main-banner__img{
    width: 200px;
  }
  .main-banner__content{
    grid-template-columns: 35% 75%;
    
  }
  .main-banner__item .container{
    padding: 0px 30px;
  }
  .main-banner__text h1{
    font-size: 30px;
  }
  .main-banner__contentform{
    margin-top: 50px;
  }
  .circle{
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .main-banner__content{
    grid-template-columns: 35% 75%;
  }
  .main-banner__img{
    width: 300px;
  }
  .main-banner__text h1{
    font-size: 30px;
  }
  .main-banner__contentform{
    width: 40%;
    margin-top: 50px;
  }
  .main-banner__item{
    height: 110vh;
  }
}

